@model IEnumerable<NotiX.Models.Utilizadores>

@{
    ViewData["Title"] = "Index";
}

<h1 class ="text-center">Utilizadores existentes</h1>
<br/>
<p>
    <form asp-action="Create" method="get">
        <button type="submit" class="btn btn-primary">Criar Novo Utilizador</button>
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                <form asp-action="Details" method="get" asp-route-id="@item.Id" class="d-inline">
                    <button type="submit" class="btn btn-primary" class="d-inline">Detalhes</button>
                </form>
                <form asp-action="Delete" method="post" asp-route-id="@item.Id" class="d-inline">
                  <button type="submit" class="btn btn-danger" class="d-inline">Delete</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
