@model NotiX.ViewModels.NoticiasFotosViewMo

@{
    ViewData["Title"] = "Edit";
}

<div>
    <form asp-action="Index" method="get">
        <button type="submit" class="btn btn-danger"> <i class="bi bi-arrow-left"></i> Voltar</button>
    </form>

    <h1 class="text-center">Editar Notícia</h1>
</div>
@if (TempData["atualizado"] != null)
{
    <div class="alert alert-success alert-dismissible text-center fade show" role="alert">
        <strong>@TempData["atualizado"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<hr />
<div class="d-flex justify-content-center">
    <div class="col-md-6">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Noticias.Id" />
            <div class="form-group">
                <label asp-for="Noticias.Titulo" class="control-label"></label>
                <input asp-for="Noticias.Titulo" class="form-control" />
                <span asp-validation-for="Noticias.Titulo" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Noticias.Texto" class="control-label"></label>
                <textarea asp-for="Noticias.Texto" class="form-control"></textarea>
                <span asp-validation-for="Noticias.Texto" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                Nome da Imagem
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                Adicionar Fotos
                <input multiple type="file" name="ListaFotos" accept=".png,.jpg,.jpeg" class="form-control" />
                <span asp-validation-for="Noticias.ListaFotos" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                Associe fotos existentes
                <select class="form-select" multiple name="ListaNotFotos" aria-label="Escolher Fotos">
                    @foreach (var foto in TempData["fotos"] as List<Fotos>)
                    {
                        <option value="@foto.Nome">@foto.Nome</option>
                    }
                </select>
            </div>
            <br />
            @Html.LabelFor(m => m.Noticias.CategoriaFK)
            <select class="form-select" asp-for="Noticias.CategoriaFK" aria-label="Escolher Categoria">
                <option value="@null">Selecione uma Categoria</option>
                @foreach (var cat in ViewData["CategoriaFK"] as List<Categorias>)
                {
                    @if (cat.Id == Model.Noticias.CategoriaFK)
                    {
                        <option selected value="@cat.Id">@cat.Categoria</option>
                    }
                    else
                    {
                        <option value="@cat.Id">@cat.Categoria</option>
                    }
                }
            </select>

            <br />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
        <h2>Imagens Associadas</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Imagem</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var foto in @Model.Noticias.ListaFotos)
                {
                    <tr>
                        <td>
                            <img src="@Url.Content("~/Imagens/" + foto.Nome)" alt="Foto" style="max-height: 100px;" />
                        </td>
                        <td>
                            <form asp-action="DeleteFoto" method="post" class="d-inline">
                                <input type="hidden" name="noticiaId" value="@Model.Noticias.Id" />
                                <input type="hidden" name="fotoId" value="@foto.Id" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                            <form asp-action="RemoveFoto" method="post" class="d-inline">
                                <input type="hidden" name="fotoId" value="@foto.Id" />
                                <input type="hidden" name="noticiaId" value="@Model.Noticias.Id" />
                                <button type="submit" class="btn btn-primary ">Desassociar</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}