@model IEnumerable<NotiX.Models.Noticias>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Notícias existentes</h1>
<br />
@if (User.Identity.IsAuthenticated)
{
<p>
    <form asp-action="Create" method="get">
        <button type="submit" class="btn btn-primary">Criar Nova</button>
    </form>
</p>
}
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaFK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEscrita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEdicao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
               @item.Categoria.Categoria   
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEscrita)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataEdicao)
                </td>
            <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                    <form asp-action="Edit" method="get" asp-route-id="@item.Id" class="d-inline">
                        <button type="submit" class="btn btn-primary">Editar</button>
                    </form>
                    }
                    <form asp-action="Details" method="get" asp-route-id="@item.Id" class="d-inline">
                        <button type="submit" class="btn btn-primary" class="d-inline">Detalhes</button>
                    </form>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form asp-action="Delete" method="get" asp-route-id="@item.Id" class="d-inline">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
